name: BTG Ledger Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-dotnet:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout do Código
      uses: actions/checkout@v4

    - name: Configurar o .NET 10
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'

    - name: Restaurar Dependencias da Solucao
      run: dotnet restore BtgLedger.slnx

    - name: Compilar Solucao
      run: dotnet build BtgLedger.slnx -c Release --no-restore -p:GenerateResourceNever=true

  build-docker:
    needs: build-dotnet
    runs-on: ubuntu-latest
    steps:
    - name: Checkout do Código
      uses: actions/checkout@v4

    - name: Construir Imagem Docker (API)
      run: docker build -t btg-ledger-api:latest -f Dockerfile.API .

    - name: Construir Imagem Docker (Worker)
      run: docker build -t btg-ledger-worker:latest -f Dockerfile.Worker .